header {
  box-sizing: border-box;
}
body {
  background-image: url=("https://cdn.glitch.me/a1cc9d1d-5237-444c-ab67-61afe8e98645%2Fppppp.jpg?v=1638148221933");
}
h1 {
  color: white;
  position: absolute;
  font-size: 4em;
}
h2 {
  color: white;
  position: absolute;
  right: 5px;
  font-size: 5em;
}
img,
video {
  height: auto;
  max-width: none;
}
display: grid;
grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
grid-template-rows: min-content min-content 1fr min-content;


@media (max-width: 600px) {
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.page-header {
  grid-column: 1 / -1;
  background: #00131C;
}

.page-sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background: #00131C;
}
.page-nav {
  grid-column: 2 / 3;
  background: #00131C;
}
.page-main {
  grid-column: 2 / 3;
  background: #00131C;
}
.page-footer {
  grid-column: 1 / -1;
  background: #00131C;
}

details p {
  text-transform: none;
  text-align: left;
}

article {
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  transition: all 1s;
}
.grid.list {
  grid-template-columns: 1fr;
}
